<!doctype html>
<html>

    <head>

	<% include partials/head %>
	<link rel="stylesheet" href="stylesheets/sidebar.css">
	<link rel="stylesheet" href="stylesheets/buttons.css">
	<style>
	    form {position: fixed; bottom: 20px; width: 60%}
	    form input {border: 1px solid #000; width: 80%; }
	    form button {width: 9%; padding: 10px; }
	    input {border: 0; width: 70%;}
	    #messages { list-style-type: none; width: 70%; margin: 0; padding: 0; }
	    #messages li { padding: 5px 10px; }
	    #messages li:nth-child(odd) { background: #ccc; }
	    .chat {border: 3px solid red; overflow: scroll; height: 500px}
	</style>
    </head>
    <body>
	<% let email = email; %>
	<% include partials/header %>
	<div class="container-fluid main-container">
		<div class="col-md-2 sidebar">
		    <div class="row">
			<div class="absolute-wrapper"> </div>
			<div class="side-menu">
			    <nav class="navbar navbar-default" role="navigation">
				<!-- Main Menu -->
				<div class="side-menu-container">
				    <ul class="nav navbar-nav">
					<!-- Dropdown-->
					<li class="active panel panel-default" id="dropdown">
					    <a data-toggle="collapse" href="#dropdown-users">
						<span class="glyphicon glyphicon-user"></span> Users <span class="caret"></span>
					    </a>

					    <!-- Dropdown level 1 -->
					    <div id="dropdown-users" class="panel-collapse collapse">
						<div class="panel-body">
						    <ul class="nav navbar-nav">
							<li><a href="#">Link</a></li>
							<li><a href="#">Link</a></li>
							<li><a href="#">Link</a></li>
						    </ul>
						</div>
					    </div>
					</li>

					<li class="panel panel-default" id="dropdown">
					    <a data-toggle="collapse" href="#dropdown-rooms">
						<span class="glyphicon glyphicon-user"></span> Rooms <span class="caret"></span>
					    </a>

					    <!-- Dropdown level 1 -->
					    <div id="dropdown-rooms" class="panel-collapse collapse">
						<div class="panel-body">
						    <ul id="rooms" class="nav navbar-nav">
							<% if (rooms) for (let i = 0; i < rooms.length; i++) { %>
							    <li><a href="/chat?id=<%= group_id %>-room_<%= i %>"> Room <%= i %></a></li>
							<% } %>
						    </ul>
						</div>
					    </div>
					</li>


				    </ul>
				</div><!-- /.navbar-collapse -->
			    </nav>
			    <button id="add_room" type="button" class="btn btn-labeled btn-success">
				<span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>New Room</button>
			</div>
		    </div>
		</div>

		<div class="col-md-8 chat">
		    <div class="container">
			<ul id="messages"></ul>
			<form onSubmit="sendMsg(); return false;">
			    <input id="m" autocomplete="off"/><button type="button" class="btn btn-primary" onclick="sendMsg()">Send <i class="glyphicon glyphicon-send"></i>
			</form>
		    </div>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	
	<script>
	    $(document).ready(function() {
		$("#add_room").click(function(e) {
		    e.preventDefault();
		    let room = {group_id: "<%= group_id %>", room: "room"};
		    $.ajax({
			type: 'POST',
			url: 'groups/add_room',
			dataType: 'json',
			data: JSON.stringify(room),
			success: function(result, status, xhr) {
			    location.reload();
			},
			error: function(xhr, status, error) {
			    console.log(error);
			},
			contentType: 'application/json'
		    });
		});
	    })
	</script>

	<script src="/socket.io/socket.io.js"></script>

	<script>
	    const socket = io({query: 'room=<%= group_id %>'});

	    function sendMsg() {
		const message = document.getElementById('m').value;
		if (message == '') return;

		document.getElementById('messages').innerHTML += '<li style="text-align: right;">' + message + '</li>';
		socket.emit('message', {message: message, group_id: '<%= group_id %>'});

		document.getElementById('m').value = "";
	    }

	    socket.on("message", function(msg) {
		document.getElementById('messages').innerHTML += '<div class="panel panel-default"';
		document.getElementById('messages').innerHTML += '<div class="panel-heading">Message</div>';
		document.getElementById('messages').innerHTML += '<div class="panel-body">' + msg + '</div>';
		document.getElementById('messages').innerHTML += '</div>';
	    });

	</script>

    </body>

</html>
